.iframeContainer {
    padding: 20px;
    border: 1px solid #e3e3e3;
  }
  
  /* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Padding bottom by footer height */
    padding-bottom: 80px;
    font-family: 'Droid Serif', serif;
    font-size: 20px;
    color: #2f2f2f;
    background-color: #89bdd3;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%; /* Set the fixed height of the footer here */
    height: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #999999;
  }
  
  #footer p {
    margin: 0;
    font-size: 16px;
  }

.newspaperHeading {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
    color: black;
}  

.articleHeading {
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
}

#scatter {
    text-align: center;
    background-color: ghostwhite;
}

#linRegress {
    text-align: center;
    background-color: ghostwhite;
}